# Dependencies

node_modules/

# Environment files

.env
.env.local
.env.development
.env.production

# Build output

dist/
build/
out/

# Vite cache

.vite/

# Logs

*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS / IDE

.DS_Store
Thumbs.db
.vscode/
.idea/
